My workflow 11.json
{
  "name": "My workflow 11",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json[\"message\"][\"text\"]}}\n",
        "options": {
          "systemMessage": "You are an AI Appointment Booking Assistant that communicates with customers via Telegram.\nYou have access to calendar management tools connected to you in this workflow.\nWhenever a request matches the purpose of one of these tools, you must call that tool instead of only replying in text.\nThese tools include (but may be renamed in the system):\n\nCreate Event Tool → Creates a new calendar event with a date, time, title, and optional description.\n\nGet Event Tool → Retrieves an existing event’s details or checks availability.\n\nUpdate Event Tool → Updates an event’s date, time, or other details.\n\nDelete Event Tool → Cancels an existing event.\n\nRules for Using Tools:\n\nAlways use the relevant tool when the customer asks to book, check, modify, or cancel an appointment.\n\nIf multiple tools could apply, choose the most specific one.\n\nOnly answer in plain text if the request is completely unrelated to appointments.\n\nConfirm the date, time, and timezone (default EST) with the customer before finalising actions.\n\nIf a slot is unavailable, call the relevant availability-check tool, then suggest alternative times.\n\nFor every tool action, send a confirmation to the customer after the tool executes.\n\nTone & Style:\n\nBe friendly, professional, and concise.\n\nUse emojis where helpful: 📅 (date), ⏰ (time), ✅ (confirmation), ❌ (cancellation).\n\nReference bookings with a clear identifier when available.\n\nExample Behaviour:\n\nBooking:\nUser: “Book me in for Tuesday at 2 PM”\nAction: Call Create Event Tool.\nResponse: “✅ Booked for Tuesday at 2:00 PM EST for 1 hour. Reference: ABC123.”\n\nChecking Availability:\nUser: “Is Friday at 10 available?”\nAction: Call Get Event Tool.\nResponse: “📅 Friday at 10:00 AM is free! Would you like me to reserve it for you?”\n\nUpdating:\nUser: “Move my Wednesday appointment to 4 PM”\nAction: Call Update Event Tool.\nResponse: “✅ Your Wednesday appointment is now at 4:00 PM EST.”\n\nCancelling:\nUser: “Cancel my meeting tomorrow”\nAction: Call Delete Event Tool.\nResponse: “❌ Your appointment for tomorrow at 3:00 PM EST has been cancelled.”\n\nFinal Instruction:\nWhen in doubt, prefer tool use first, then confirmation to the customer. Never skip tool usage for appointment-related requests."
        }
      },
      "id": "955a38fc-387e-4073-b018-9af30e9d6eb9",
      "name": "AI Appointment Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        352,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5754f79d-9032-4503-a292-baecd7d73568",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        160,
        224
      ],
      "credentials": {
        "groqApi": {
          "id": "dlTDh85B8sZyoExc",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e892f987-ecbb-42a0-b157-770bd2126c85",
      "name": "Telegram Trigger",
      "webhookId": "6a314afe-3266-458a-8de5-976dec237052",
      "credentials": {
        "telegramApi": {
          "id": "qK0uuvDIcEk1HC3c",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        0
      ],
      "id": "b7767c55-aff7-4efa-945e-1b7111bd56b0",
      "name": "Send a text message",
      "webhookId": "4bf81cd5-d535-411a-bef0-a32b211c02c3",
      "credentials": {
        "telegramApi": {
          "id": "qK0uuvDIcEk1HC3c",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "b90df46a50c8b0d4be5c6a5260ce6bdbc15b63fdde348575e7a4937f286c8639@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        272,
        288
      ],
      "id": "04379911-cead-4599-8bda-9126e3aa718e",
      "name": "create_event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "KzdBqPKKDv4xpuuK",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "b90df46a50c8b0d4be5c6a5260ce6bdbc15b63fdde348575e7a4937f286c8639@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        528,
        256
      ],
      "id": "f75bb5d5-d748-4df7-9381-32acdfc86714",
      "name": "get_event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "KzdBqPKKDv4xpuuK",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "b90df46a50c8b0d4be5c6a5260ce6bdbc15b63fdde348575e7a4937f286c8639@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        240
      ],
      "id": "87649354-b227-4692-b32d-29ea046fb5f9",
      "name": "delete_event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "KzdBqPKKDv4xpuuK",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "b90df46a50c8b0d4be5c6a5260ce6bdbc15b63fdde348575e7a4937f286c8639@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        672,
        224
      ],
      "id": "4760c50f-697a-40bb-8787-9b8d5d3820f2",
      "name": "update_event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "KzdBqPKKDv4xpuuK",
          "name": "Google Calendar account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Appointment Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Appointment Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Appointment Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_event": {
      "ai_tool": [
        [
          {
            "node": "AI Appointment Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_event": {
      "ai_tool": [
        [
          {
            "node": "AI Appointment Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete_event": {
      "ai_tool": [
        [
          {
            "node": "AI Appointment Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_event": {
      "ai_tool": [
        [
          {
            "node": "AI Appointment Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7ccea89-740b-4138-b999-f8e96c981a42",
  "meta": {
    "instanceId": "0009253c1c7d442cb6104fcc0e76291ceed6475c2ec2b1e461d90121904b3ebe"
  },
  "id": "mcG5do8K7571CxAD",
  "tags": [
    {
      "createdAt": "2025-08-07T17:10:58.896Z",
      "updatedAt": "2025-08-07T17:10:58.896Z",
      "id": "c2oKU3jEIaBvS9tq",
      "name": "Appointment Booking"
    },
    {
      "createdAt": "2025-08-07T17:10:59.227Z",
      "updatedAt": "2025-08-07T17:10:59.227Z",
      "id": "d0KNssBM5J5fW90J",
      "name": "WhatsApp"
    },
    {
      "createdAt": "2025-08-05T18:22:09.966Z",
      "updatedAt": "2025-08-05T18:22:09.966Z",
      "id": "q2HobaYequK46Fm5",
      "name": "AI Automation"
    }
  ]
}